<div class="list-container">
    <h2 class="list-header">Agents</h2>
    <div>
        <div *ngIf="agents$ | async as agents">
            <div *ngIf="agents.length > 0" class="list-cards">
                <agent-card *ngFor="let agent of agents | slice:0:numberCards"
                [agent]="agent" id="agent-card"></agent-card>
                <arrow-button (click)="viewAll()"></arrow-button>
            </div>
            <div *ngIf="agents.length === 0" class="empty-list">
                <h3>No agents available. <a (click)="goAddAgent()">Add Agent</a></h3>
            </div> 
        </div>

        <div *ngIf="error$ | async as error">
            <p class="error-text">Unable to load agents!</p>
        </div>
    </div>
</div>