<body style="background-color: #f0e5e2">
  <div class="header">

    <img
      src="../../assets/images/timeless tales logo.png"
      alt="logo"
      width="200px"
      height="60px"
    />
   <!--<p class="headerText">Triple T Management System</p>-->
  </div>
  <hr/>
  <!--Disney Meal Calculator Main Title Text-->
  <h1 class="calculatorTitle">Disney Meal Calculator</h1>

  <br/>




   <form (ngSubmit)="onSubmit()"class="meal-form">
   <div>
      <label>
      <strong> Number of Adults:   </strong>
      <input type="number" [(ngModel)]="adults" name="adults" required >
      <span *ngIf="adultsError" class="error-message">{{ adultsError }}</span>
      </label><br><br>

      <label>
      <strong>Number of Children:  </strong>
      <input type="number" [(ngModel)]="children" name="children" required>
      <span *ngIf="childrenError" class="error-message">{{ childrenError }}</span>
      </label><br><br>

      <label>
      <strong>Number of Days: </strong>
      <input type="number" [(ngModel)]="days" name="days" required >
      <span *ngIf="daysError" class="error-message">{{ daysError }}</span>
      </label><br><br>

      <label>
      <strong>Days For Each Service:  </strong>
      </label><br><br>

      <label>
      <strong>Full Service: </strong>
      <input type="number" [(ngModel)]="FulldaysPerService" name="FulldaysPerService" required>
      </label><br><br>

     <label>
    <strong>Quick Service: </strong>
    <input type="number" [(ngModel)]="QuickdaysPerService" name="QuickdaysPerService" required>
    <p *ngIf="FulldaysPerService + QuickdaysPerService !== days" class="error-message">Number of days must be equal for Full Service and Quick Service.</p>
    </label><br>
    <!--<div *ngIf="FulldaysPerService && QuickdaysPerService">
      <span *ngIf="FulldaysPerService + QuickdaysPerService !== days" class="error-message">Number of days must be equal for Full Service and Quick Service.</span>
    </div>-->
    <label>
    <strong>Snack Preference:</strong>
    <select [(ngModel)]="snacksPreference" name="snacksPreference">
      <option value="">Regular</option>
      <option value="">Premium</option>
    </select>
    </label>
    <br>
    <button type="submit" (click)="showMessageBox()">Calculate</button><br>
 </div>

</form>
<div *ngIf="showMessage">
<div style="border: 1px solid #000; background-color: #f8f8f8; padding: 10px;">
 <div *ngIf="totalPrice">
  <p>
    Price Per Day: {{ totalPricePerDay | currency }}.<br>
    Total Meal Price:{{ totalPrice | currency }}.
  </p>
</div>
</div>
</div>

<!--Mickey Mouse Corner Ears-->
  <div class="container">
    <img src="./assets/images/mickeymouseears.png" class="mickeymouseears" />
  </div>

</body>







