<div class="card">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agent of agents">
            <td>{{ agent.id }}</td>
            <td>{{ agent.name }}</td>
            <td><a href="mailto:{{ agent.email }}">{{ agent.email }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
