<h1>Meal Calculator</h1>
<form (ngSubmit)="onSubmit()">
  <label>
    Number of adults:
    <input type="number" [(ngModel)]="adults" name="adults" required>
  </label><br><br>
  <label>
    Number of children:
    <input type="number" [(ngModel)]="children" name="children" required>
  </label><br><br>
  <label>
    Number of days:
    <input type="number" [(ngModel)]="days" name="days" required>
  </label><br><br>
  <label>
    Number of days for each service:</label><br><br>
    <label>
    Full Service:
    <input type="number" [(ngModel)]="FulldaysPerService" name="FulldaysPerService" required>
  </label><br><br>
  <label>
   Quick Service:
    <input type="number" [(ngModel)]="QuickdaysPerService" name="QuickdaysPerService" >
  </label><br><br>
  <label>
    Preference of snacks:
    <select [(ngModel)]="snacksPreference" name="snacksPreference">
      <option value="true">Light Snacks</option>
      <option value="true"> Snacks</option>
    </select>
  </label>
  <br><br>
  <button type="submit">Calculate</button>
</form>

<div *ngIf="totalPrice">
  <p>
    The price per meal is {{ mealPrice | currency }} per person per day.
    The price of snacks is {{ snackPrice | currency }} per day.
  </p>
  <p>
    The total price per day is {{ totalPricePerDay | currency }}.
    The total price for {{ days }} days and {{ FulldaysPerService }}and {{QuickdaysPerService}} services is {{ totalPrice | currency }}.
  </p>
</div>

<div *ngIf="!totalPrice">
  <p>Please fill out the form to calculate the meal prices.</p>
</div>
<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
