@import '../../../../../variables';

div{
    background-color: $clr-primary-300;
    border: 0.5rem solid $clr-primary;
    border-left: 0;
    border-right: 0;
    padding: 2rem;
    margin-top: 1rem;
}
