<div class="modal-card">
    <div class="modal-header-section">
        <h1>Client Added</h1>
    </div>
    <div class="modal-body-section">
        <div class="modal-user-detail" *ngIf="inputValue.clientBasics | async as basics">
            <div *ngIf="basics != null">
                <h3>Username: {{basics.username}}</h3>
            </div>
        </div>
        <div *ngIf="inputValue.error | async as error;">
            <h3>An error occured when adding client!</h3>
        </div>
        <button (click)="close()">OK</button>
    </div>
</div>

