<div class="agent-details-container">
    <button type="button" (click)="toggleEdit()">
        {{ isEditEnable ? 'Disable Edit' : 'Enable Edit' }}
    </button>
    <event-list-card [events$]="eventDetails$"></event-list-card>
    <form [formGroup]="tripForm" class="flex-column">
        <h3 class="group-header">Trip Details</h3>
        <div class="form-group-card">
            <div class="input-section">
                <label>Trip Name</label>
                <input type="text" formControlName="tripName" [readonly]="true"/>
            </div>
            <div class="input-section">
                <label>Trip Start Date</label>
                <input type="date" formControlName="tripStartDate" [readonly]="true"/>
            </div>
            <div class="input-section">
                <label>Trip End Date</label>
                <input type="date" formControlName="tripEndDate" [readonly]="true"/>
            </div>
            <div class="input-section">
                <label>Status</label>
                <input type="text" [value]="tripForm.get('status')?.value" formControlName="Status" [readonly]="true"/>
            </div>
        </div>
        <button *ngIf="isEditEnable" type="submit">Save</button>
    </form>
</div>