<div class="modal-card">
    <div class="modal-header-section">
        <h1>Password Reset</h1>
    </div>
    <div class="modal-body-section">
        <h3>Please record the password</h3>
        <div class="modal-user-detail" *ngIf="inputValue.tempPassword | async as password">
            <div *ngIf="password != ''">
                <h3>Password: {{password}}</h3>
            </div>
        </div>
        <div *ngIf="inputValue.error | async as error;">
            <h3>An error occured when resetting the password!</h3>
        </div>
        <button (click)="close()">OK</button>
    </div>
</div>

