<style>

</style>
<div class="container" >
  <br> <br>
  <h1>Disney Meal Calculator</h1><br> <br>
  <div class="row">
<div class="col-12">

  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-3">
        <label><strong>Number of adults</strong> </label>
        <input type="number" class="form-control">
      </div>
    </div><br>

    <div class="form-group">
      <div class="col-md-3">
        <label><strong>Number of Children</strong> </label>
        <input type="number" class="form-control">
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-md-3">
        <label><strong>Number of days:</strong></label>
        <input type="number" class="form-control">
      </div>
    </div>
    <br>

    <div class="col-md-3">
      <label><strong> Number of days for each service:</strong></label>
    </div>
    <br>

    <div class="form-group">
      <div class="col-md-3">
        <label><strong>Full Service:</strong></label>
        <div class="input-group">
          <input type="number" class="form-control">
          <span class="input-group-text"><i class="fa fa-info-circle" style="font-size:15px;color:red" title="This field represents the cost of full service"></i></span>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-md-3">
        <label><strong>Quick Service:</strong></label>
        <div class="input-group">
          <input type="number" class="form-control">
          <span class="input-group-text"><i class="fa fa-info-circle" style="font-size:15px;color:red" title="This field represents the cost of quick service"></i></span>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-md-3">
        <label><strong>Preference of snacks:</strong></label>
        <div class="input-group">
          <select name="snacksPreference" class="form-control">
            <option value="">Light Snacks</option>
            <option value="">Snacks</option>
          </select>
          <span class="input-group-text"><i class="fa fa-info-circle" style="font-size:15px;color:red" title="This field represents the cost of snacks preference"></i></span>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-md-12 text-right">
        <button style="font-size:20px">Calculate</button>
      </div>
    </div>


  </form>
</div>
</div>
</div>

















