<form [formGroup]="noteForm" class="note-card">
    <button (click)="onDelete()" *ngIf="this.note !== undefined" class="deleteButton">x</button>
    <input type="hidden" formControlName="clientId">
    <div class="note-inner">
        <div class="notes-header">
            <input type="text" formControlName="noteTitle" (blur)="onChange()" placeholder="Title"/>
            <select formControlName="tripId" (change)="onChange()">
                <option [value]="null">General</option>
                <option *ngFor="let entry of tripMap.entries();trackBy: trackByFn" [value]="entry[0]">{{ entry[1] }}</option>
            </select>              
        </div>
        <textarea type="" formControlName="noteBody" (blur)="onChange()" placeholder="Note Body"></textarea>
    </div>
</form>

