<div class="d-flex align-items-center flex-column">
    <p>TTMS</p>
    <p>Please Login</p>

    <div>
        <form class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="usernmae" aria-describedby="username" placeholder="Enter Username">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter password">
            <button type="submit" class="btn btn-primary" (click)="loginBtn()">Login</button>
        </form>
    </div>
</div>