<body>
<header>
  <!--Disney Meal Calculator Top Left Text Heading-->
  <div class="header-left">
    <h1 class="topLeftLogo">Triple T Management System</h1>
  </div>

  <!--Timeless Tales Travel Logo-->
  <img class="logo" src="./assets/images/timeless tales logo.png"/>

</header>
<main>
  <div class="container">
    <hr/>
    <!--Timeless Tales Travel Text Heading*
    <h3 class="timelessLogo">Timeless Tales Travel</h3>-->

    <br/>

    <!--Disney Meal Calculator Main Title Text-->
    <h1 class="calculatorTitle">Triple T Management System</h1>

    <br/>
    </div>


    <div class="d-flex align-items-center flex-column">
    <h3><strong>-Login Page-</strong></h3>
    <br><br>

    <div class="col-md-3">
        <p *ngIf="!isAuthenticated">Password or username is incorrect</p>
        <form class="form-group" [formGroup]="loginDetails" #loginForm="ngForm" (submit)="loginBtn()">
            <label for="username"><strong>Username:</strong> </label>
            <input type="text" class="form-control" id="username" aria-describedby="username"
                placeholder="Enter Username" formControlName="username">

            <div *ngIf="loginDetails.controls['username'].invalid && (loginDetails.controls['username'].dirty)"
                class="error">
                <div *ngIf="loginDetails.controls['username'].errors?.['required']">Please enter a username.</div>
            </div>
            <br>
            <br>


            <label for="password"><strong>Password:</strong></label>
            <input type="password" class="form-control" id="password" aria-describedby="password"
                placeholder="Enter password" formControlName="password">

            <div *ngIf="loginDetails.controls['password'].invalid && (loginDetails.controls['password'].dirty)"
                class="error">
                <div *ngIf="loginDetails.controls['password'].errors?.['required']">Please enter a password.</div>
            </div>
            <br>
            <br>
            <br>


            <button type="submit" class="btn btn-primary">Login</button>

        </form>
     </div>
  </div>
<!--Mickey Mouse Corner Ears-->
      <img src="./assets/images/mickeymouseears.png" class="mickeymouseears" />
</main>
</body>

