<div class="modal-card">
    <div class="modal-header-section">
        <h1>Update Password</h1>
    </div>
    <div class="modal-body-section">
        <h3>Please enter your new password!</h3>
        <form [formGroup]="passwordForm" class="flex-column">
            <div style="margin: 0;">
                <input class="short-text-input" type="text" formControlName="password" 
                [class.invalid]="isInvalid('password')" placeholder="Password"/>
            </div>
            <span *ngIf="isInvalid('password')">Invalid Information</span>
            <button (click)="onUpdate()" *ngIf="!isSubmitted">Submit</button>
        </form>
        <h3 *ngIf="isSubmitted">Password has been updated!</h3>      
        <button *ngIf="isSubmitted" (click)="close()">OK</button>
    </div>
</div>

