<body style="background-color: #f0e5e2">
  <div class="header">
    <p class="headerText">Triple T Management System</p>
    <img
      src="../../../assets/header.png"
      alt="logo"
      width="200px"
      height="60px"
    />
  </div>



  <div class="d-flex nav-div align-self-center">



    <!--<p class="logo" (click)="goToDashboard()">TTMS</p>-->
    <div class="nav-item" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <p ngbDropdownToggle class="nav-text"><u>Tools</u></p>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="goToMealsForm()">Meal Prices</button>
        <button ngbDropdownItem>Schedule</button>
        <button ngbDropdownItem>Tool 3</button>
      </div>
    </div>

    <div class="ms-2" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <p ngbDropdownToggle class="nav-text"><u>Info</u></p>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="goToAgentsList()">Agents</button>
        <button ngbDropdownItem>Clients</button>
      </div>
    </div>



    <div class="ms-auto me-2" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <div ngbDropdownToggle>
        <img src="https://via.placeholder.com/30x30" alt="User Avatar" class="me-2 rounded-circle mb-1" />
        <span class="h4 d-none d-sm-inline-block">{{userDetails$.user.username || "username" }}</span>
      </div>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="goToProfile()">Profile</button>
        <button ngbDropdownItem>Settings</button>
        <button ngbDropdownItem (click)="logoutUser()">Logout</button>
      </div>
    </div>

  </div>



