
  <div class="d-flex bg-dark w-100" style="--bs-bg-opacity: .1;">
    <p class="mt-2 ms-2 h4" (click)="goToDashboard()">TTMS</p>
    <div class="mt-1 ms-5" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <p ngbDropdownToggle class="p-1 h4"><u>Tools</u></p>
      <!-- <button type="button" ngbDropdownToggle class="btn btn-outline-dark"><span class="h4">Tools</span></button> -->
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="goToMealsForm()">Meal Prices</button>
        <button ngbDropdownItem>Schedule</button>
        <button ngbDropdownItem>Tool 3</button>
      </div>
    </div>

    <div class="mt-1 ms-2" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <p ngbDropdownToggle class="p-1 h4"><u>Info</u></p>
      <!-- <button type="button" ngbDropdownToggle class="btn btn-outline-dark"><span class="h4">Info</span></button> -->
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem >Agents</button>
        <button ngbDropdownItem>Clients</button>
      </div>
    </div>

    <div class="ms-auto me-2 mt-1" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <div ngbDropdownToggle class="mt-1">
        <img src="https://via.placeholder.com/30x30" alt="User Avatar" class="me-2 rounded-circle mb-1" />
        <span class="h4 d-none d-sm-inline-block">User Name</span>
      </div>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem>Profile</button>
        <button ngbDropdownItem>Settings</button>
        <button ngbDropdownItem>Logout</button>
      </div>
    </div>
  </div>

  
  