@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body, p, h1, h2, h3, h4, h5, h6, input, option, select, button, textarea{
    font-family: $ff-base;
    color: $clr-black;
    font-size: $fs-300;
    font-weight: $fw-regular;
    line-height: 1.5;
}

.constrain-area{
    margin: 0 clamp(0.5rem, 2vw, 5rem);
}

select{
    font-size: $fs-350;
    color: $clr-white;
    background-color: $clr-primary-200;
    border-radius: 0.3rem;
    padding: 0.5rem;

    option{
        font-size: $fs-350;
        color: $clr-white;
    }
}

form{
    button{
        color: $clr-white;
        background-color: $clr-primary;
        padding: $btn-padding;
        border-radius: $brd-100;
        max-width: $btn-max-width;
    }
    h3{
        font-weight: $fw-bold;
        font-size: $fs-350;
    }
    input{
        max-width: $input-width;
        font-size: $fs-300;
        padding: 0.2rem;
        border: 0.05rem solid $clr-primary;
    }
    .input-error, span{
        color: $clr-alert-500;
        font-size: $fs-200;
    }
    .invalid{
        background-color: $clr-alert-100;
        border: 0.05rem solid  $clr-alert-500;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        margin: $form-group-spacing;
    }
    .short-text-input{
        max-width: $input-width-sm;
    }
    .form-group-card{
        border: 0.05rem solid $clr-primary;
        background-color: $clr-primary-100;
        border-radius: 0 $brd-200 $brd-200 $brd-200;
        box-shadow: 0 0 12px $clr-black-100;
    
        width: fit-content;
        padding: 0.7rem 8rem 1.5rem 2rem;
    
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    .group-header{
        font-size: $fs-400;
        font-weight: $fw-medium;
        background-color: $clr-primary-300;
        color: $clr-white;
    
        width: fit-content;
        padding: 0.3rem 0.5rem;
        border-radius: $brd-200 $brd-200 0 0;
    }
    .input-section{
        display: flex; 
        flex-direction: column;
        margin: 0;

        > input ,div, span{
            margin-left: $form-input-margin;
        }
    }

    .input-area{
        display: flex; 
        flex-direction: row;
        margin: 0;
        gap: 0.7rem;

        > input ,div, span{
            margin-left: $form-input-margin;
        }
    }
}

.error-text{
    font-size: $fs-350;
    font-weight: $fw-bold;
    color: $clr-alert-500;
    margin-left: 0.8rem;
}

.disabled-button {
    opacity: 0.5;
    cursor: not-allowed; 
}

//For cards i.e(Agents, Clients, etc)
.view-card, .view-column-card{
    border: 0.05rem solid $clr-primary;
    background-color: $clr-primary-300;
    border-radius: $brd-200;
    box-shadow: 0 0 5px $clr-black-100;

    width: $card-width;
    overflow: hidden;
    padding: 0.4rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;

    p{
        font-size: $fs-400;
        background-color: transparent;
        color: $clr-white;
    }

    hr{
        background-color: $clr-secondary;
        height: 2rem;
        width: 0.1rem;
        border: 0 solid transparent;
    }

    img{
        aspect-ratio: 1;
        width: 3rem;
        border-radius: 50%;
    }
}

.view-column-card{
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}

//For list of cards i.e(Agents, Clients, etc)
.list-cards{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    z-index: 75;
    gap: 1rem;

    padding: 1.5rem;

    border: 0.5rem solid $clr-primary;
    border-radius: $brd-200;
    border-top-left-radius: 0;
    box-shadow: 0 0 15px $clr-black-100;
    background-color: $clr-primary-100;
}

.list-header{
    font-size: $fs-500;
    font-weight: $fw-medium;
    background-color: $clr-primary;
    color: $clr-white;

    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    border-radius: $brd-200 $brd-200 0 0;
}

.empty-list{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 1rem;

    width: fit-content;
    padding: 2rem 1.5rem;

    border: 0.5rem solid $clr-primary;
    border-radius: $brd-200;
    border-top-left-radius: 0;
    box-shadow: 0 0 15px $clr-black-100;
    background-color: $clr-primary-100;

    h3{
        font-size: $fs-400;
        font-weight: $fw-medium;
    }
    a{
        font-size: $fs-400;
        font-weight: $fw-medium;
        color: $clr-alert-500;
        text-decoration: underline;
        cursor: pointer;
    }
}

.details-card{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1rem;

    width: fit-content;
    padding: 1.5rem;

    border: 0.5rem solid $clr-primary;
    border-radius: $brd-200;
    border-top-left-radius: 0;
    box-shadow: 0 0 15px $clr-black-100;
    background-color: $clr-primary-100;

    .details-inner-card{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        gap: 1rem;
    
        width: fit-content;
        padding: 1.5rem;
    
        border: 0.5rem solid $clr-primary;
        border-radius: $brd-200;
        border-top-left-radius: 0;
        box-shadow: 0 0 15px $clr-black-100;
        background-color: $clr-primary-100;
    }
}

.remove-style{
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
}

.box-shadow{
    box-shadow: 0 0 5px $clr-black-100;
}

.flex-row{
    display: flex; 
    flex-direction: row;
    margin: 0;
}

.flex-column{
    display: flex; 
    flex-direction: column;
    margin: 0;
}

//Search bars such as the one in agents page
.search-bar{
    font-size: $fs-350;
    padding: 0.3rem;
    border: 0.02rem solid $clr-primary;
    border-radius: 0.3rem;
}
.search-bar:focus{
    outline: 0.1rem solid $clr-primary; 
}

//Arrow such as the one in home page
.arrow {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $clr-secondary;
    clip-path: polygon(0% 50%, 100% 50%, 50% 100%);
}

.addSymbol {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px; 
    height: 35px; 

    background-color: $clr-secondary;
    color: $clr-white; 
    border: 0.07rem solid $clr-primary;
    border-radius: $brd-200;
    box-shadow: 0 0 7px $clr-black-100;

    font-size: $fs-600; 
    font-weight: $fw-bold;
    cursor: pointer;
}

.slimAddSymbol {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 50;

    width: 70px; 
    height: 30px; 

    background-color: $clr-secondary;
    color: $clr-white; 
    border: 0.07rem solid $clr-primary;
    border-radius: $brd-200;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 0 7px $clr-black-100;

    font-size: $fs-600; 
    font-weight: $fw-bold;
    cursor: pointer;
}

.minusSymbol {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px; 
    height: 35px; 

    background-color: $clr-alert-500;
    color: $clr-white; 
    border: 0.07rem solid $clr-primary;
    border-radius: $brd-200;
    box-shadow: 0 0 7px $clr-black-100;

    font-size: $fs-600; 
    font-weight: $fw-bold;
    cursor: pointer;
}

.modal-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: $clr-modal-backdrop;
    position: fixed;
    inset: 0;
    z-index: 100;
  }

  .custom-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
.calendar-event{
    padding: 0.2rem 0.5rem;
    font-size: 14px;
    box-shadow: 0 0 7px $clr-black-100;
}

//Scroll Bar
.x-scroll{
    overflow-x: scroll;
}

.y-scroll{
    overflow-y: scroll;
}

.y-scroll, .x-scroll::-webkit-scrollbar {
    width: 12px;
}

.y-scroll, .x-scroll::-webkit-scrollbar-thumb {
    background-color: $clr-secondary; 
    border-radius: 6px; 
}

.y-scroll, .x-scroll::-webkit-scrollbar-track {
    margin: 0.2rem;
    background-color: $clr-primary-100; 
    border-radius: $brd-100;
}

.y-scroll, .x-scroll::-moz-scrollbar-thumb {
    background-color: $clr-secondary; 
    border-radius: 6px; 
}
    
.y-scroll, .x-scroll::-moz-scrollbar-track {
    background-color: $clr-secondary;
}