
<body>

      <!--Timeless Tales Travel Text Heading*-->
      <h3 class="title">Triple T Management System</h3>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="password"><strong>Password:     </strong></label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']"><small>Password is required.</small></div>
        <div *ngIf="password.errors?.['pattern']"><small>Password must contain at least one uppercase letter,one lowercase letter,<br> one number, and one special character.</small></div>
        <div *ngIf="password.errors?.['minlength']"><small>Password must be at least 8 characters long.</small></div>
      </div>
    </div>
    <br>
    <br>
    <div>
      <label for="confirmPassword"><strong>Confirm Password:  </strong></label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="confirmPassword.dirty || confirmPassword.touched">
        <div *ngIf="confirmPassword.errors?.['required']"><small>Confirm password is required.</small></div>
        <div *ngIf="this.password.value !== this.confirmPassword.value"> <small>Must match</small></div>
      </div>
    </div>
    <br>
    <br>
    <button type="submit" [disabled]="changePasswordForm.invalid ||
    this.password.value !== this.confirmPassword.value">Submit</button>
</form>

</body>
<footer>


</footer>
