/*Disney Meal Calculator Top Left Text Heading*/
.topLeftLogo{
  font-family: 'Helvetica Neue', serif;
  font-size: 20px;
  font-weight: bold;
}

/*Timeless Tales Travel Text Heading*/
.timelessLogo {
  padding-top: 20px;
  font-family: 'Blippo', serif;
  font-weight: bold;
  font-size: 24px;
}
/*Timeless Tales Travel Logo*/
header .logo{
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 5%;
  left: 42.5%;
  transform: translateY(-50%);
  height: 75px;
  width: 260px;
}
